---
site: Pet Photos
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} - {{ site }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
    </head>
    <body>
        <nav class="relative flex items-center justify-between flex-wrap bg-green-500">
            <div class="text-5xl flex-1 text-center text-white">{{ site }}</div>
            <ul class = "right-0 w-full flex justify-center flex-grow sm:flex sm:items-center sm:w-auto bg-green-500">
                <li class="p-8"><a href="{{ '/' | url }}" class="{% if page.url == '/' %}
                    underline text-purple-300{% endif %} block mt-4 sm:inline-block sm:mt-0 text-white hover:text-blue-300 mr-auto">Home</a></li>
                <li class="p-8"><a href="{{ '/dog/' | url }}" class="{% if page.url == '/dog/' %}
                    underline text-purple-300{% endif %} block mt-4 sm:inline-block sm:mt-0 text-white hover:text-blue-300 mr-auto">Dogs Only</a></li>
                <li class="p-8"><a href="{{ '/cat/' | url }}" class="{% if page.url == '/cat/' %}
                    underline text-purple-300{% endif %} block mt-4 sm:inline-block sm:mt-0 text-white hover:text-blue-300 mr-auto">Cats Only</a></li>
                <li class="p-8"><a href="{{ '/other/' | url }}" class="{% if page.url == '/other/' %}
                    underline text-purple-300{% endif %} block mt-4 sm:inline-block sm:mt-0 text-white hover:text-blue-300 mr-auto">Other Animals</a></li>
                <li class="p-8"><a href="{{ '/about' | url }}" class="{% if page.url == '/about/' %}
                    underline text-purple-300{% endif %} block mt-4 sm:inline-block sm:mt-0 text-white hover:text-blue-300 mr-auto">About Us</a></li>
            </ul>
        </nav>
    
        {{ content }}

        <footer>
            <h1>Email Us!</h1>
            <ul>
                <li><a href="mailto:nolan794@csu.fullerton.edu">Nolan O'Donnell</a></li>
                <li><a href="mailto:mperez5891@csu.fullerton.edu">Manuel Perez</a></li>
                <li><a href="mailto:usmanqazi@csu.fullerton.edu">Mohammad Usman Qazi</a></li>
                <li><a href="mailto:cweichlein@csu.fullerton.edu">Christopher Weichlein</a></li>
            </ul>
        </footer>
    </body>
</html>
